.bd-navbar {
    min-height: 4rem;
    background-color: #333535;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.contents-box {
    padding: 50px 100px;
    text-align: center;
}

.contents-title {
    margin-bottom: 40px;
}