<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Title</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {% block style %}
  {% endblock %}

  <!-- todo : style.css 분리-->
  <style>
    .bd-navbar {
      min-height: 4rem;
      background-color: #333535;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
    }

    .contents-box {
      padding: 50px 100px;
      text-align: center;
    }

    .contents-title {
      margin-bottom: 40px;
    }
  </style>
</head>
<body>
  <!-- todo : header.html 분리-->
  {% block header %}
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <div class="navbar-nav-scroll" style="user-select: auto;">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item active">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/urls">Urls</a>
          </li>
        </ul>
      </div>
    </header>
  {% endblock %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
</body>
</html>
