{% extends "base.html" %}
{% block style %}
  <style>
    .desc-text {
      font-size: 0.8em;
      color: gray;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="contents-box">
    <h3 class="contents-title">My Short Urls</h3>

    {% for url in urls %}
      <form method="post" action="{{ url_for('routes.delete') }}">
        <div class="card mb-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{{ url.destination }}">http://shortly/{{ url.name }}</a>
              <div class="desc-text">Linked to {{ url.destination }}</div>
              <div class="desc-text">created on {{ url.created_at.strftime('%Y-%m-%d') }}</div>
            </li>
          </ul>
          <input type="hidden" name="url_id" value="{{ url.id }}">
          <button type="submit" class="btn btn-sm btn-warning">delete</button>
        </div>
      </form>

    {% endfor %}


  </div>
{% endblock %}